.header{
    display: flex;
    justify-content: space-between;
    background-color: #202020;
    height: 8.5vh;
}

.header_left, .Header_Right{
display: flex;
align-items: center;
}

.Header_Logo{
    width: 100px;
}

.Header_MenuIcons{
    padding: 20px;
}

.Header_Right > *{
    cursor: pointer;
    margin-right: 20px;
    font-size: 25px !important;
}

.header_center{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.Header_input{
    width: 50%;
    height: 32px;
    background-color: #121212;
    padding-left: 10px;
    outline: none;
    border: 1px solid #303030;
    border-right: none;
    font-size: 16px;
    color: white;
}

.Header_btn{
    height: 33.7px;
    background-color: #313131 !important;
    border-radius: 0 !important;
}

.Header_searchIcon{
    opacity: 0.2;
    color: #fff;
}