
.Main {
    display: flex;
    gap: 15rem;
}

.VideoImg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.firstMain{
    margin-top: none;
}

.secondMain{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    margin: 2rem;
    margin-top: 4.6rem;
}

.VideoImg_thumbNail {
    width: 100%;
    height: 150px;
    object-fit: cover;
    
}
.VideoImg_channel {
    margin-left: 10px;
}
.VideoImg_title {
    max-height: 43px;
    overflow: hidden;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    margin-top: 6px;
}

.VideoImg_details {
    display: flex;
}

.VideoImg_texts {
    margin-top: 5px;
}

.VideoImg_text {
    font-size: 14px;
    color: #aaaaaa;
}  