.Main {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 90vh;
    width: 100%;
    overflow-x: hidden;
}

.VideoImg_thumbNail {
    width: inherit;
    height: 187px;
    margin-bottom: 10px;
}

.VideoImg_details {
    display: flex;
}

.VideoImg {
    margin: 20px;
    margin-right: 0;
    width: 285px;
    height: 236px;
    cursor: pointer;
}

.VideoImg_title {
    font-size: 0.9rem;
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.VideoImg_channel {
    margin-left: 10px;
}

.VideoImg_texts {
    margin-top: 5px;
}

.VideoImg_text {
    font-size: 14px;
    color: #aaaaaa;
}